


<br>
<br>
<div class="row ">
    <div class="col-md-3">
      </div>
    <div class="col-md-5"> <h2>          Welcome To Admin Reporting</h2>
      </div>
    </div>
  


<div class="container">
<div class="ui-g">
<!--for card one user start-->
<div class="ui-g-6 ui-sm-6-ui-md-6 card1" (click)="userwise()">
    <h1 style="text-align: center;">Userwise</h1>
    <i class="fa fa-user" aria-hidden="true" style="font-size:70px;color:rgb(39, 35, 35);padding-left:95px;
    padding-top:40px;"></i>
  </div>
<!--for card one user end-->
<!--for card one consolidated start-->
<div class="ui-g-6 ui-sm-6-ui-md-6 card2" (click)="consolidated()">
    <h1 style="text-align: center;">Consolidated</h1>
    <i class="fa fa-users" aria-hidden="true" style="font-size:70px;color:rgb(39, 35, 35);padding-left: 95px;
    padding-top:40px;"></i>
  </div>
<!--for card one consolidated end-->

</div>

</div>