page-admin-consolidated-marketing-reporting {
    h4{
        text-align: center
    }
    .trt{
        background-color:#648de178 !important;
        font-weight: 700 !important;
    }
th{
    text-align: center;
}    
.content-md {
    color: #000;
    background-color: #adb4dc8c!important;
}
.segment-md .segment-button {
    color:#b21482 !important;
}

}
