page-userlogin {
.bg{
    height:100%;
    width:100%;
    background:linear-gradient(160deg,#b627f2 30%, #10DFCa 70% )
}
.head{
    position:absolute;
    display:block;
    color:#ffff;
    top:33%;
    left:50%;
    transform: translate(-50%,-50%);
    width:100%;
}
h3{
    font-size:4vh !important;
    font-weight:700 !important;
    font-family:'Pacifico',cursive;
    text-shadow: 2px 2px 4px #000000;
}
.inputss{
    position: absolute;
    display:block;
     top:40%;
     left:10%;
     width:80%;
     color:#ffff;
     opacity:0.6;

}
ion-input{
    color:#197be0;
    font-size:2.8vh;
    font-weight:700;
}
ion-label{
    color:#fff;
    font-weight:600;
}
ion-item{
    opacity:0.6;
}
button{
    position: absolute;
    display:block;
    background:#fff!important;
    box-shadow:0px;
    color:#9A9595 !important;
}
}
