
<ion-header>

  
    
    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <ion-navbar>
      <button ion-button menuToggle><i class="fa fa-bars"></i></button>
       <ion-title>Company</ion-title>
    
  </ion-navbar>

</ion-header>




<ion-content padding>
  <form [formGroup]="companyForm" (ngSubmit)="saveCompanyForm()">
    <ion-grid>
      <ion-row wrap>
        <ion-col width-70>
          
          <ion-list>
              <ion-item>
                  <ion-label floating>Date</ion-label>
             
                  <ion-datetime class="alert-input date-input" readonly="true"
                  [pickerFormat]="date"  [(ngModel)]="selectedDate" formControlName="date" [max]="today" [min]="today"[disabled]="false" type="date">
                      </ion-datetime>
                 
              </ion-item>
            <ion-item>
              <ion-label floating ><b>Tradename</b></ion-label>
              <ion-input type="text" formControlName="name"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label floating ><b>Contact no.</b></ion-label>
              <ion-input type="number" formControlName="contactNumber"></ion-input>
            </ion-item>

          </ion-list>
     
          <!--Querry start-->
          <ion-list>
              <ion-item>
                  <ion-label>
                    <b>Querry handled</b>
                  </ion-label>
                <ion-select formControlName="queryHandling">
                  <ion-option>BAD</ion-option>
                  <ion-option default>GOOD</ion-option>
                  <ion-option>VERY GOOD</ion-option>
                  <ion-option>EXCELLENT</ion-option>
  
                </ion-select>
              </ion-item>
            </ion-list>
          <!--demoend-->
           <!--service start-->
           <ion-list>
              <ion-item>
                  <ion-label>
                      <b> Service provided</b>
                  </ion-label>
                <ion-select formControlName="serviceProvided">
                  <ion-option>BAD</ion-option>
                  <ion-option default>GOOD</ion-option>
                  <ion-option>VERY GOOD</ion-option>
                  <ion-option>EXCELLENT</ion-option>
  
                </ion-select>
              </ion-item>
            </ion-list>
          <!--demoend-->
          
         

          <ion-list>
            <ion-item>
                <ion-label >
                    <b>Visitor Type</b>
                </ion-label>
              <ion-select formControlName="visitorType">
                <ion-option>First</ion-option>
                <ion-option>Second or third</ion-option>
                <ion-option>Franchise</ion-option>
                <ion-option>Clients</ion-option>

              </ion-select>
            </ion-item>
          </ion-list>
<!--vistor type ended-->
          <ion-label>
             <b>SOFTWARE INTRESTED</b> 
          </ion-label>
          <ion-list>
              <ion-item>
                  <ion-label style="margin-left: 3%; font-weight: bold">
                      <h5>Are you interested in our software?</h5>
                  </ion-label>
                <ion-select formControlName="softwareInterested">
                  <ion-option (ionSelect)="softwareInterestedYes()">YES</ion-option>
                  <ion-option (ionSelect)="softwareInterestedNo()">NO</ion-option>
                  
                </ion-select>
              </ion-item>
            </ion-list>
       
              
         
          <ion-card *ngIf="softwareYes">

             
               
           <ion-list>
              <ion-item>
                  <ion-label style="margin-left: 3%; font-weight: bold">
                     <h4> <b>Please rate us.</b></h4>
                  </ion-label>
                <ion-select  formControlName="rateUs">
                  <ion-option>BAD</ion-option>
                  <ion-option default>GOOD</ion-option>
                  <ion-option>VERY GOOD</ion-option>
                  <ion-option>EXCELLENT</ion-option>
  
                </ion-select>
              </ion-item>
            </ion-list>
         
          
              <ion-label style="font-weight:bold; font-size: 16px; margin: 3%">
                  Give Your Valuable Suggestions
              </ion-label>
              <ion-textarea rows="5" column="3" formControlName="suggestionForYes" style="border: 1px solid rgb(199, 199, 199)"></ion-textarea>
              <br>
          </ion-card>
          <!--card software no start-->
          <ion-card *ngIf="softwareNo">
              <ion-list>
                  <ion-item>
                      <ion-label style="margin-left: 3%; font-weight: bold">
                         <h4> <b>Choose a reason</b></h4>
                      </ion-label>
                    <ion-select  formControlName="rateUs">
                     
                      <ion-option  (ionSelect)="closeOtherReason()">Not Friendly</ion-option>
                      <ion-option  (ionSelect)="closeOtherReason()"> Already have</ion-option>
                      <ion-option (ionSelect)="otherReason()">Any others</ion-option>
      
                    </ion-select>
                  </ion-item>
                </ion-list>
                </ion-card>
                <ion-card *ngIf="ifOther">
                    <ion-label style="font-weight:bold; font-size: 16px; margin: 3%">
                        Please give reasons and suggestion, so that we can improve.
                        </ion-label>
                        <ion-textarea rows="5" formControlName="suggestionForNo" style="border: 1px solid rgb(199, 199, 199)"></ion-textarea>
            </ion-card>
    

<!--card  software no end-->

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col width-70 offset-4>

          <button type="submit" class="btn btn-success" style="width: 50%; font-size:23px;">Save</button>
<br>
<br>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

<pre>{{companyForm.value | json}}</pre>