
<ion-header>

  
    
    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <ion-navbar>
      <button ion-button menuToggle><i class="fa fa-bars"></i></button>>
       <ion-title>Company</ion-title>
    
  </ion-navbar>

</ion-header>




<ion-content padding>
  <form [formGroup]="companyForm" (ngSubmit)="saveCompanyForm()">
    <ion-grid>
      <ion-row wrap>
        <ion-col width-70>
          <ion-list>
            <ion-item>
              <ion-label> Date</ion-label>
              <ion-datetime displayFormat="MMM DD YYYY" formControlName="date"></ion-datetime>
            </ion-item>
            <ion-item>
              <ion-label floating style="font-size:16px; color:#085312;" ><b>Tradename</b></ion-label>
              <ion-input type="text" formControlName="name"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label floating style="font-size:16px; color:#085312;" ><b>Contact no.</b></ion-label>
              <ion-input type="number" formControlName="contactNumber"></ion-input>
            </ion-item>

          </ion-list>
          <ion-list radio-group formControlName="queryHandling">
            <ion-list-header style="font-size:16px; color:#085312;" >
             <b> Querry Handling</b>
            </ion-list-header>
            <ion-item>
              <ion-label>BAD</ion-label>
              <ion-radio value="Bad"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>GOOD</ion-label>
              <ion-radio checked="true" value="Good"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>VERY GOOD</ion-label>
              <ion-radio value="Very Good"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>EXCELLENT</ion-label>
              <ion-radio value="Excellent"></ion-radio>

            </ion-item>

          </ion-list>
          
          <ion-list radio-group formControlName="serviceProvided">
            <ion-list-header style="font-size:16px; color:#085312;" >
             <b> Service provided</b>
            </ion-list-header>
            <ion-item>
              <ion-label>BAD</ion-label>
              <ion-radio value="Bad"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>GOOD</ion-label>
              <ion-radio checked="true" value="Good"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>VERY GOOD</ion-label>
              <ion-radio value="Very Good"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>EXCELLENT</ion-label>
              <ion-radio value="Excellent"></ion-radio>
            </ion-item>
          </ion-list>


          <ion-list>
            <ion-item>
                <ion-label style="margin-left: 3%; font-weight: bold">
                    <h5>Visitor Type</h5>
                </ion-label>
              <ion-select formControlName="visitorType">
                <ion-option>First</ion-option>
                <ion-option>Second or third</ion-option>
                <ion-option>Franchise</ion-option>
                <ion-option>Clients</ion-option>

              </ion-select>
            </ion-item>
          </ion-list>
          <ion-label style="margin-left: 3%; font-weight: bold">
              <h5>Are you interested in our software?</h5>
          </ion-label>
          <ion-list radio-group formControlName="softwareInterested">

              
                      <ion-item>
                          <ion-label>Yes</ion-label>
                          <ion-radio value="Yes"(click)="softwareInterestedYes()"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                          <ion-label>No</ion-label>
                          <ion-radio value="No"(click)="softwareInterestedNo()"></ion-radio>
                      </ion-item>
                  
              
          </ion-list>
          <ion-card *ngIf="softwareYes">

              <ion-list radio-group formControlName="rateUs">
                  <ion-list-header>
                      <h5>Please rate us.</h5>
                  </ion-list-header>

                  
                          <ion-item>
                              <ion-label>Bad</ion-label>
                              <ion-radio value="bad"></ion-radio>
                          </ion-item>
                      
                          <ion-item>
                              <ion-label>Good</ion-label>
                              <ion-radio value="good"></ion-radio>
                          </ion-item>
                    
                          <ion-item>
                              <ion-label>Very Good</ion-label>
                              <ion-radio value="Very Good"></ion-radio>
                          </ion-item>
                     
                          <ion-item>
                              <ion-label>Excellent</ion-label>
                              <ion-radio value="Excellent"></ion-radio>
                          </ion-item>
                      
              </ion-list>
              <ion-label style="font-weight:bold; font-size: 16px; margin: 3%">
                  Any Suggestion?
              </ion-label>
              <ion-textarea rows="5" column="3" formControlName="suggestionForYes" style="border: 1px solid rgb(199, 199, 199)"></ion-textarea>
              <br>
          </ion-card>
          <!--card software no start-->
          <ion-card *ngIf="softwareNo">
              <ion-list radio-group formControlName="rateUsForNo">
                  <ion-list-header>
                      <h5>Choose a reason:</h5>
                  </ion-list-header>

                  <ion-row>
                      
                          <ion-item>
                              <ion-label>Not Friendly</ion-label>
                              <ion-radio value="notFriendly" (click)="closeOtherReason()"></ion-radio>
                          </ion-item>
                      
                     
                          <ion-item>
                              <ion-label>Already Have</ion-label>
                              <ion-radio value="alreadyHave" (click)="closeOtherReason()"></ion-radio>
                          </ion-item>
                     
                     
                          <ion-item>
                              <ion-label>Others</ion-label>
                              <ion-radio value="others" (click)="otherReason()"></ion-radio>
                          </ion-item>
                      
                      <ion-card *ngIf="ifOther">
                              <ion-label style="font-weight:bold; font-size: 16px; margin: 3%">
                                  Please give reasons and suggestion, so that we can improve.
                                  </ion-label>
                                  <ion-textarea rows="5" formControlName="suggestionForNo" style="border: 1px solid rgb(199, 199, 199)"></ion-textarea>
                      </ion-card>
                  </ion-row>
              </ion-list>
              </ion-card>

<!--card  software no end-->

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col width-70 offset-4>

          <button type="submit" ion-fab mini><ion-icon name="add"></ion-icon></button>

        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

<pre>{{companyForm.value | json}}</pre>