<!--
  Generated template for the MarketingLogFormPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

        <link rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <ion-navbar>
          <button ion-button menuToggle><i class="fa fa-bars"></i></button>
        <ion-title>Marketing</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>
    <form [formGroup]="marketingForm" (ngSubmit)="saveMarketingForm()">

        <ion-grid>
            <ion-list>

                <ion-item>
                    <ion-label floating>Date</ion-label>
               
                    <ion-datetime class="alert-input date-input" readonly="true"
                    [pickerFormat]="date"  [(ngModel)]="selectedDate" formControlName="date" [max]="today" [min]="today" [disabled]="true" type="date">
                        </ion-datetime>
                   
                </ion-item>

                        <ion-item>
                          <ion-label floating>Area</ion-label>
                          <ion-select formControlName="area" >
                            <ion-option>Nala Road</ion-option>
                            <ion-option>Kankarbagh</ion-option>
                            <ion-option>Rajendra Nagar</ion-option>
                            <ion-option>Kadamkuan</ion-option>
                            <ion-option>Frazer Road</ion-option>
                            <ion-option>Anisabad</ion-option>
                          </ion-select>
                        </ion-item>
                <ion-item>
                    <ion-label floating>Trade Name</ion-label>
                    <ion-input type="text" formControlName="name" ></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label floating>Contact</ion-label>
                    <ion-input type="text" formControlName="contactNumber" ></ion-input>
                </ion-item>
                <br>
               <!-- <ion-label >
                    <b>Are you interested in our service?</b>
                </ion-label>-->
                <ion-list>
                    <ion-item>
                        <ion-label >
                            <h5><b>Are you interested in our Service?</b></h5>
                        </ion-label>
                      <ion-select formControlName="serviceInterested">
                        <ion-option (ionSelect)="serviceInterestedYes()">Yes</ion-option>
                        <ion-option (ionSelect)="serviceInterestedNo()">No</ion-option>
                        
                      </ion-select>
                    </ion-item>
                  </ion-list>
             
                  <ion-card *ngIf="serviceNo">
                        <ion-list>
                                <ion-item>
                                    <ion-label >
                                       <h4> <b> Current Scenario:</b></h4>
                                    </ion-label>
                                  <ion-select formControlName="currentScenario">
                                    <ion-option>CA</ion-option>
                                    <ion-option >ADVOCATE</ion-option>
                                    <ion-option>ACCOUNTANT</ion-option>
                                    <ion-option>SELF</ion-option>
                                    <ion-option>UNREGISTERED</ion-option>
                                  </ion-select>
                                </ion-item>
                              </ion-list>
                            
                      </ion-card>
             
           

              <ion-card  *ngIf="serviceYes">
                <div>
                    <table class="table table-hover table-bordered" >
                        <thead>
                            <tr>
                                <th>Service Type</th>
                                <th>Rate</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody >  
                            <tr *ngFor="let a of marketingForm.value.serviceItems; let i" [tabIndex]="i">
                                <td>{{a.serviceType}}</td>
                                <td>{{a.rate}}</td>
                                <td>
                                    <button type="button" class="btn btn-danger" (click)="deleteServiceType(i)">
                                            <i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>
                                    <select class="form-control" placeholder="Select a service" #type>
                                        <option>Accounting</option>
                                        <option>Income Tax Filing</option>
                                        <option>TDS Filing</option>
                                        <option>GST Filing</option>
                                        <option>Consultancy</option>
                                        <option>Company Related</option>
                                        <option>Loan Documentation</option>
                                    </select>
                                </td>
                                <td><input type="number" class="form-control" #rate></td>
                                <td><button type="button" class="btn btn-primary" (click)="addNewServiceType(type,rate)">
                                        <i class="fa fa-plus"></i>
                                </button></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </ion-card>
               <!-- <ion-label >
                    <b>Are you interested in our software?</b>
                </ion-label>-->
                <ion-list>
                        <ion-item>
                            <ion-label>
                                <h5><b>Are you interested in our software?</b></h5>
                            </ion-label>
                          <ion-select formControlName="softwareInterested">
                            <ion-option (ionSelect)="softwareInterestedYes()">Yes</ion-option>
                            <ion-option (ionSelect)="softwareInterestedNo()">No</ion-option>
                            
                          </ion-select>
                        </ion-item>
                      </ion-list>
                      <ion-card *ngIf="softwareYes">

             
               
                            <ion-list>
                               <ion-item>
                                   <ion-label>
                                      <h5> <b>Please rate us.</b></h5>
                                   </ion-label>
                                 <ion-select  formControlName="rateUs">
                                   <ion-option>BAD</ion-option>
                                   <ion-option default>GOOD</ion-option>
                                   <ion-option>VERY GOOD</ion-option>
                                   <ion-option>EXCELLENT</ion-option>
                   
                                 </ion-select>
                               </ion-item>
                             </ion-list>
                          
                           
                               <ion-label style="font-weight:bold; font-size: 14px; margin: 3%">
                                   Give Your Valuable Suggestions
                               </ion-label>
                               <ion-textarea rows="5" column="3" formControlName="suggestionForYes" style="border: 1px solid rgb(199, 199, 199)"></ion-textarea>
                               <ion-label style="font-weight:bold; font-size: 14px; margin: 3%">
                                  Fee:
                                </ion-label>
                                <ion-input type="number" formControlName="fee"  style="border: 1px solid rgb(199, 199, 199)"></ion-input>
                               <br>
                           </ion-card>
                             <!--card software no start-->
          <ion-card *ngIf="softwareNo">
                <ion-list>
                    <ion-item>
                        <ion-label style="margin-left: 3%; font-weight: bold">
                           <h4> <b>Choose a reason</b></h4>
                        </ion-label>
                      <ion-select  formControlName="rateUs">
                       
                        <ion-option  (ionSelect)="closeOtherReason()">Not Friendly</ion-option>
                        <ion-option  (ionSelect)="closeOtherReason()"> Already have</ion-option>
                        <ion-option (ionSelect)="otherReason()">Any others</ion-option>
        
                      </ion-select>
                    </ion-item>
                  </ion-list>
                  </ion-card>
                  <ion-card *ngIf="ifOther">
                      <ion-label style="font-weight:bold; font-size: 16px; margin: 3%">
                          Please give reasons and suggestion, so that we can improve.
                          </ion-label>
                          <ion-textarea rows="5" formControlName="suggestionForNo" style="border: 1px solid rgb(199, 199, 199)"></ion-textarea>
              </ion-card>
 
                

            </ion-list>
        </ion-grid>
        <ion-row>
                <ion-col width-70 offset-4>
        
                  <button type="submit" class="btn btn-success" style="width: 50%; font-size:23px;">Save</button>
                  <br>
                  <br>
                </ion-col>
              </ion-row>
</form>
</ion-content>

<!-- {{marketingForm.value | json}} -->