<br>
<br>
<br>
<br>


<div class="container">
    <div class="ui-g">
    <!--for card one user start-->
    <div class="ui-g-6 ui-sm-6-ui-md-6 card1"  (click)="companyDashboard()">
        <h1 style="text-align: center;">Company Log</h1>
        <i class="fa fa-building" aria-hidden="true" style="font-size:70px;color:rgb(44, 40, 40);padding-left:95px;
        padding-top:40px;"></i>
      </div>
    <!--for card one user end-->
    <!--for card one consolidated start-->
    <div class="ui-g-6 ui-sm-6-ui-md-6 card2" (click)="marketingDashboard()">
        <h1 style="text-align: center;">Marketing Log</h1>
        <i class="fa fa-meetup" aria-hidden="true" style="font-size:70px;color:rgb(44, 40, 40);padding-left: 95px;
        padding-top:40px;"></i>
      </div>
    <!--for card one consolidated end-->
    
    </div>
    
    </div>