

<div  style="margin-left: 250px; margin-right: 250px">
    <div class="ui-g">        
        <br><br>
        
        <div class="ui-g-3 ui-sm-3 ui-md-offset-9">
                <br><br>

                <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon" style="background-color: #0088f3; color: #ffffff; border-color: #0088f3"><i class="fa fa-search"></i></span>
                        <input type="text" pInputText placeholder="  Conversion List Search" (input)="dt.filterGlobal($event.target.value, 'contains')">         
                    </div>

            </div>
        
        <div class="ui-g-12">
            <u><h3 style="text-align: center; font-weight: bold">Conversion List</h3></u>
        </div>
            <p-table #dt [value]="conversionList" (onRowSelect)="onRowSelect($event)" selectionMode="single" 
            [(selection)]="selectedConversionList" [globalFilterFields]="['name','contactNumber']">
                <ng-template pTemplate="header">
                    
                    <tr>
                        <th style="text-align:center">Name</th>
                        <th style="text-align:center">Contact No.</th>
                    </tr> 
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-marketinglog style="text-align: center;">
                    <tr [pSelectableRow]="rowData" style="text-align: center;">
                        <td>{{marketinglog.name}}</td>
                        <td>{{marketinglog.contactNumber}}</td>
                    </tr>
                </ng-template>
            </p-table>
    </div>
</div>
