
<div class="col-md-12 col-sm-12 col-xs-12 container">
    <ul class="nav nav-pills nav-stacked" id="a">
        <br>
        <br>
        <li [routerLinkActive]="['link-active']">
            <a [routerLink]="['/admin/Company-report']">
                Company Report
            </a>
            <br>
        </li>
        <li> <li [routerLinkActive]="['link-active']">
            <a [routerLink]="['/admin/Marketing-report']">
                Marketing Report
            </a>
        </li>
    


        </ul>
</div>




