<!--
  Generated template for the MarketingListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <ion-navbar>
    <button ion-button menuToggle><i class="fa fa-bars"></i></button>
    <ion-title>Marketing List</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row wrap>
      <ion-col width-90>
        <ion-item text-center>
          <button (click)="marketingform()" style="border-radius:25px;" ion-fab mini>
            <ion-icon name="add"></ion-icon>
          </button>
        </ion-item>
        <ion-grid *ngIf="filterNotApplied">
          <ion-row>
            <ion-col offset-6>
              <ion-item>
                <ion-label>Date:</ion-label>
                <ion-datetime  readonly="true"  [(ngModel)]="selectedDate"
                [max]="today" [min]="today" [disabled]="true" type="date">
                </ion-datetime>
      
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-item *ngIf="filterApplied">
          <h2><b>Showing Results For:</b></h2>
          <h6>Start Date :&nbsp;{{filteredFromDate}}</h6>
          <h6>End Date :&nbsp;{{filteredToDate}}</h6>
          <h6>Service Interested :&nbsp;{{filteredServiceInterested}}</h6>
          <h6>Software Interested :&nbsp;{{filteredSoftwareInterested}}</h6>  
        </ion-item>
        <ion-list insert padding>
          <ion-item-sliding *ngFor="let item of marketing ; let i" [tabIndex]="i">
            <ion-item (click)="current = i">

              <h2>
                <i class="fa fa-angle-down" *ngIf="i == current"></i>
                <i class="fa fa-angle-right" *ngIf="i != current"></i>
                {{ item.name }}</h2>
              <div [class.collapse]='current != i'>


                <h4>
                  &nbsp;&nbsp;&nbsp; Contact Number:&nbsp;&nbsp;&nbsp;&nbsp;{{item.contactNumber}}</h4>

                <h4>
                  &nbsp;&nbsp;&nbsp; Service Interested:&nbsp;&nbsp;&nbsp;&nbsp;{{item.serviceInterested}}</h4>

                <h4>
                  &nbsp;&nbsp;&nbsp; Software Interested:&nbsp;&nbsp;&nbsp;&nbsp;{{item.softwareInterested}}</h4>
              </div>
            </ion-item>
            <ion-item-options side="right">
              <button class="btn btn-success" (click)="patchConversion(i)"><i class="fa fa-check"></i></button>
              <button class="btn btn-danger" (click)="deleteList(i)"><i class="fa fa-trash"></i></button>
              <button class="btn btn-primary" (click)="edit(i)"><i class="fa fa-pencil"></i></button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>

      </ion-col>
    </ion-row>
    <ion-fab right bottom>
      <button ion-fab (click)="openFilterModel()">
        <ion-icon name="funnel"></ion-icon>
      </button>
    </ion-fab>
  </ion-grid>




</ion-content>