page-conversion-list {
  
    th{
       
        overflow: auto;
        padding-top: 4px;
        padding-bottom: 4px;
        text-align: center
      }
      td{
          text-align: center
      }
      
      .trt{
        background-color:#648de178 !important;
        font-weight: 700 !important;
    }
th{
    text-align: center;
}    
.content-md {
    color: #000;
    background-color: #adb4dc8c!important;
}
}
