page-conversion-list {
  
      .trt{
        background-color:#648de178 !important;
        font-weight: 700 !important;
    }
th{
    text-align: center;
}    
.content-md {
    color: #000;
    background-color: #adb4dc8c!important;
}
}
