<ion-header>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <ion-navbar>
    <button ion-button menuToggle>
      <i class="fa fa-bars"></i>
    </button>
    <ion-title>Company List</ion-title>

  </ion-navbar>

</ion-header>




<ion-content>

  <ion-grid>
    <ion-row wrap class="bg">
      <ion-col width-90>


        <ion-item text-center>
          <button (click)="companyform()" style="border-radius:25px;" ion-fab mini>
            <ion-icon name="add"></ion-icon>
          </button>
        
        </ion-item>

        <ion-grid *ngIf="filterNotApplied">
          <ion-row>
            <ion-col offset-6>
              <ion-item>
                <ion-label>Date:</ion-label>
                <ion-datetime  readonly="true"  [(ngModel)]="selectedDate"
                [max]="today" [min]="today" [disabled]="true" type="date">
                </ion-datetime>
      
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
        <!-- <div class="panel panel-default" *ngIf="filterApplied" style="width: 90%; height: 20%; margin-left: 5%">
          <div class="panel-heading">
            <h2><b>Showing Results For:</b></h2>
          </div>
          <div class="panel-body" >
            <h6>Start Date :&nbsp;{{filteredFromDate}}</h6>
          <h6>End Date :&nbsp;{{filteredToDate}}</h6>
          <h6>visitor Type :&nbsp;{{filteredVisitorType}}</h6>
          <h6>Query Handling :&nbsp;{{filteredQueryHandling}}</h6>
          <h6>Service Provided :&nbsp;{{filteredServiceProvided}}</h6> 
          </div>
        </div> -->
        <ion-item *ngIf="filterApplied">
          <h2><b>Showing Results For:</b></h2>
          <h6>Start Date :&nbsp;{{filteredFromDate}}</h6>
          <h6>End Date :&nbsp;{{filteredToDate}}</h6>
          <h6>visitor Type :&nbsp;{{filteredVisitorType}}</h6>
          <h6>Query Handling :&nbsp;{{filteredQueryHandling}}</h6>
          <h6>Service Provided :&nbsp;{{filteredServiceProvided}}</h6>  
        </ion-item>
        
        <!-- <ion-item>
          <ion-label>From</ion-label>
          <ion-datetime class="alert-input date-input" readonly="true" [pickerFormat]="date" [(ngModel)]="fromDate" [disabled]="false"
            type="date">
          </ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>ToDate</ion-label>
          <ion-datetime [pickerFormat]="date" [(ngModel)]="toDate"></ion-datetime>
        </ion-item>
        <ion-item>
          <button ion-button (click)="searchByDate()">
            <i class="fa fa-search"></i>
          </button>
        </ion-item> -->

        <ion-list insert padding>
          <ion-item-sliding *ngFor="let item of company ; let i" [tabIndex]="i">
            <ion-item (click)="current = i">

              <h2>
                <i class="fa fa-angle-down" *ngIf="i == current"></i>
                <i class="fa fa-angle-right" *ngIf="i != current"></i>
                {{ item.name }}</h2>
              <div [class.collapse]='current != i'>

                <br>
                <h3>
                  &nbsp;&nbsp;&nbsp; Contact Number:&nbsp;&nbsp;&nbsp;&nbsp;{{item.contactNumber}}</h3>
              
                <h3>
                  &nbsp;&nbsp;&nbsp; Visitor Type:&nbsp;&nbsp;&nbsp;&nbsp;{{item.visitorType}}</h3>
                <h3>
                  &nbsp;&nbsp;&nbsp; Query Rating:&nbsp;&nbsp;&nbsp;&nbsp;{{item.queryHandling}}</h3>
                <h3>
                  &nbsp;&nbsp;&nbsp; Service Rating:&nbsp;&nbsp;&nbsp;&nbsp;{{item.serviceProvided}}</h3>
              </div>
            </ion-item>
            <ion-item-options side="right">
              <button class="btn btn-danger" (click)="deleteList(i)">
                <i class="fa fa-trash"></i>
              </button>


              <button class="btn btn-primary" (click)="edit(i)">
                <i class="fa fa-pencil"></i>
              </button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>

      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab right bottom>
    <button ion-fab (click)="openFilterModel()">
      <ion-icon name="funnel"></ion-icon>
    </button>
</ion-fab>

</ion-content>