page-company-list{

    table.table-bordered > thead > tr > th{
        border-color: black;
    }
    table.table-bordered > tbody > tr > td{
        border-color: black; 
    }
    th{
        background: #989ab1;
        padding-left: 25px;
        overflow: auto;
        padding-top: 4px;
        padding-bottom: 4px;
        text-align: center
      }
      .bg{
          background:linear-gradient( 90deg,blue,yellow)
      }
}



